.expense-form {
    display: flex;
    flex-direction: row;
    gap: 15px; /* 각 input 사이의 간격 */
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
  }
  

.inputform{
  font-size: small;
  display: inline-block;
  margin-left: 2%;
}
  