.top {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    color: skyblue;
    width: 100%;
}

.result{
    background-color:bisque;
    box-shadow: none;
    text-shadow: none;
}
